.footer {
  font-family: 'Poppins', sans-serif;
    background-color: #a7b9c0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  .p{
    font-size: 20px;
  }
  }
  